body {
	background-color: burlywood;
}

.main-title {
	text-align: center;
	background-color: lightblue;
	border: 1px solid lightgrey;
}

.screenshot{
	height: 50%;
	width: 50%;
}

.entities {
	background-color: lightblue;
	border: 1px solid lightgrey;
}

th, td {
	border-right: 1px solid #ddd;
	text-align: left;
	padding: .3em;
}

th {
	border-bottom-style: dashed;
	padding-bottom: .5em;
	background-color: lightgrey;
}