body {
	background-color: burlywood;
}

.main-title {
	text-align: center;
	background-color: lightblue;
	border: 1px solid lightgrey;
}

.screenshot{
	height: 50%;
	width: 50%;
}

.erd-image{
	height: 5em;
	width: 5em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.entities, .persona, .interaction-flow, .relationships, .use-case, .user-story {
	background-color: lightblue;
	border: 1px solid lightgrey;
	margin-bottom: .4em;
}

.support-photo {
	text-align: center;
}

th, td {
	border-right: 1px solid #ddd;
	text-align: left;
	padding: .3em;
}

th {
	border-bottom-style: dashed;
	padding-bottom: .5em;
	background-color: lightgrey;
}